<style>
        button{
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    .notification{
        height: 25px;
        background-color: #eaedef;
        margin: -8px -8px;
        text-align: center;
        padding-top: 10px;
        font-family:monospace;
        font-size: 12px;
}
    .button-section{
        width: 530px;
        height: 50px;
        margin-left: 20px;
        margin-top: 8px;
    }
    .button-1{
        width: 50px;
        height: 29px;
        font-size: 16px;
        margin: 24px 13px;
        border: none;
        background-color: white; 
    }
    .button-1 :hover{
        cursor: crosshair;
    }
    .button-2{
        width: 50px;
        height: 29px;
        font-size: 16px;
        margin: 10px 10px;
        border: none;
        background-color: white; 
        margin-left: 10px;
    }
    .button-3{
        width: 50px;
        height: 29px;
        font-size: 16px;
        border: none;
        background-color: white; 
        margin-left: 18px;
    }
    .button-4{
        width: 50px;
        height: 29px;
        font-size: 16px;
        border: none;
        background-color: white; 
        margin-left: 8px;
    }
    .button-5{
        width: 50px;
        height: 29px;
        font-size: 16px;
        border: none;
        background-color: white; 
        margin-left: 8px;
    }
    .logo{
        margin-left: 700px;
        margin-top: -42px;
        width: 250px;
        height: 70px;
    }
    .button-section2{
        width: 530px;
        height: 50px;
        margin-left:1110px;
        margin-top: -65px;
    }
    .search-button{
        background-color: rgb(222, 226, 230);
        border: none;
        width: 106px;
        height: 40px;
        margin-top: 5px;
        margin-left: 280px;
        border-radius: 20px;
        font-size: 16px;
        padding-left: 30px;
        background-color: #eaedef;
    }
    .login{
        width: 460px;
        height: 320px;
        margin-left: 600px;
        margin-top: 220px;

    }
    .login-header{
        margin-left: 20px;
        font-size: 46px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight:600;
        padding-bottom: 5px;
    }
    .email-title{
        font-size: 14px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        margin-left: 20px;
        margin-top: -20px;
    }
    .email-address{
        width: 448px;
        height: 42px;
        margin-left: 20px;
        margin-top: -10px;
        border: none;
        background-color:#eaedef;
        border-radius: 3px;
        padding-left: 20px;
        font-size: 16px;
    }
    .password-title{
        font-size: 14px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        margin-left: 20px;
        margin-top: 10px; 
        padding-top: 5px;
    }
    .sign-in{
        width:470px;
        height: 42px;
        margin-top: 30px;
        margin-left: 20px;
        border: none;
        background-color: black;
        color: white;
        border-radius: 28px;
        font-size: 16px;
    }
    .creat-acc{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: 20px;
    }
    .pass{
        margin-left: 120px;
        margin-top: -34px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    </style>
